In [34]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [35]:
import numpy as np
import pandas as pd
import datetime as dt

### Reflect Tables into SQLAlchemy ORM

In [36]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [37]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///../../../working/10-Advanced-Data-Storage-and-Retrieval/Homework/Instructions/Resources/hawaii.sqlite")

In [38]:
Base = automap_base()

In [39]:
#Reflect existing database into new model
Base.prepare(engine, reflect=True)

In [40]:
#Print all classes mapped to Base
Base.classes.keys()

['measurement', 'station']

In [41]:
#Exploring Database
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [42]:
#Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [43]:
# Create a session
session = Session(engine)

In [44]:
dir(Measurement)

['__abstract__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mapper__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__table__',
 '__weakref__',
 '_decl_class_registry',
 '_sa_class_manager',
 '_sa_decl_prepare',
 '_sa_raise_deferred_config',
 'classes',
 'date',
 'id',
 'metadata',
 'prcp',
 'prepare',
 'station',
 'tobs']

In [45]:
#dir(Station)

In [46]:
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', None, 73.0)]

In [47]:
# Using the inspector to print the column names within the 'measurement' table and its types
columns = inspector.get_columns('measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

### Precipitation Analysis

In [48]:
#Finding most recent data
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [49]:
#Don't think this is needed !!!
last_year_precip = dt.date(2017, 8, 23) - dt.timedelta(days=365)
print(last_year_precip)

2016-08-23

In [50]:
#session.query(Dow.date, Dow.close_price).\
#    filter(Dow.stock == 'CSCO').\
#    filter(Dow.date == query_date).all()

In [51]:
# Query for all dates matching the 
# following date string in the format `%d`
date_str = "14"
session.query(Dow.date).\
    filter(func.strftime("%d", Dow.date) == date_str).all()

NameError: name 'Dow' is not defined

In [52]:
#Getting precipitation for given months
year_precip = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date < '2017-08-23').filter(Measurement.date > '2016-08-23').limit(15).all()
year_precip

[('2016-08-24', 0.08),
 ('2016-08-25', 0.08),
 ('2016-08-26', 0.0),
 ('2016-08-27', 0.0),
 ('2016-08-28', 0.01),
 ('2016-08-29', 0.0),
 ('2016-08-30', 0.0),
 ('2016-08-31', 0.13),
 ('2016-09-01', 0.0),
 ('2016-09-02', 0.0),
 ('2016-09-03', 0.0),
 ('2016-09-04', 0.03),
 ('2016-09-05', None),
 ('2016-09-06', None),
 ('2016-09-07', 0.05)]

In [61]:
new_df = pd.DataFrame(year_precip)
new_df = new_df.dropna()
new_df

          date  prcp
0   2016-08-24  0.08
1   2016-08-25  0.08
2   2016-08-26  0.00
3   2016-08-27  0.00
4   2016-08-28  0.01
5   2016-08-29  0.00
6   2016-08-30  0.00
7   2016-08-31  0.13
8   2016-09-01  0.00
9   2016-09-02  0.00
10  2016-09-03  0.00
11  2016-09-04  0.03
14  2016-09-07  0.05

In [53]:
#Drop 'None' values
# Filter out null values from lists
#year_precip_list = []
#for date in year_precip:
#    if type(Measurement.prcp == float):
#        year_precip_list.append(Measurement.prcp)

In [62]:
#05: Matplotlib, 02, 02 
#plt.bar(new_df)

TypeError: bar() missing 1 required positional argument: 'height'

### Station Analysis

In [33]:
# Close the session
session.close()